#box {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}


h1 {
    color: #FFF;
    font-family: 'Poiret One';
}

#table {
    color: #FFF;
    text-align: center;
}

.tablecell {
    font-size: 40px;
}


#logo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5%;
    opacity: 0.5;
    display: block;
}

@media screen and (min-width: 640px) {
    #box {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 40%;
        height: 200px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 10px;
    }

    .tablecell {
        font-size: 80px;
    }
}