/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 déc. 2015, 11:28:16
    Author     : vincent
*/

html, body {
    width: 100%;
    height: 100%;
    min-width: 500px;
    /*min-height: 500px;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html { 
    background: url(../images/idvmtiovpdfwfefevice.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#table {
    height:100%;
    width:100%;
    display:table;
}

.tablecell {
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    text-align:center;
    vertical-align:middle;
    height:100%;
    display:table-cell;
}

h1 {
    font-family: 'Indie Flower';
    /*font-size: 80px;*/
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    margin-bottom: 0;
}

.container {
    margin: 0 10% 0 10%;
    height: 100%;
}