html, body, .container{
    width: 100%;
    height: 100%;
    min-width: 500px;
    /*min-height: 500px;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container{
    background-color: #007ced;
    background: linear-gradient(to bottom, #AAC3DA 1%,#cce7ff 100%);
    z-index: -11;
}
#cloud-intro{
    position: relative;
    height: 100%;
    background: url('../images/clouds1200_1.png') 0 300px;
    animation: wind 40s linear infinite;
}
@keyframes wind{
    0% {
        background-position: 0 200px, 0 300px, 100px 250px;
    }
    100% {
        background-position: 1200px 200px, 1200px 300px, 1100px 250px;
    }

}

.name {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

#logo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5%;
    opacity: 0.5;
}